@import '../index.css';

.title{
    font-family: "Montserrat", "Poppins", "Open Sans", sans-serif;
    font-size: 7rem;
    font-weight: bold;
    opacity: 0;
}

.abstract{
    display: inline-flex;
    justify-content: space-between;
    align-items: center;
    font-size: 1.2rem;
    width: 100%;
}

.abstract span{
    opacity: 0;
}

.section-block{
    opacity: 0;
}

.code-intro1 span, .code-intro2 span{
    opacity: 0;
}

.projects{
    display: inline-flex;
    align-items: center;
    height: 400px;
    width: 100%;
    overflow-x: scroll;
    overflow-y: hidden;
    /*border: 1px solid white;*/
}

.lets-connect-form{
    width: 100%;
    max-width: 600px;
}

@media (min-width: 584px) and (max-width: 835px) {
    .title{
        font-size: 5rem;
    }

    .abstract{
        font-size: 0.9rem;
    }
}

@media (min-width: 301px) and (max-width: 583px){
    .title{
        font-size: 4rem;
    }

    .abstract{
        font-size: 0.6rem;
    }
}

@media (max-width: 300px) {
    .title{
        font-size: 1rem;
    }

    .abstract{
        display: inline-flex;
        justify-content: space-between;
        align-items: center;
        font-size: 1.2rem;
        width: 100%;
    }
}