

.project-card{
    background: var(--darkerBlue);
    width: 250px;
    height: 350px;
    border-radius: 1.1rem;
    color: var(--white);
    transition: 0.3s;
}

.project-card:hover{
    width: 275px;
    height: 385px;
    transition: 0.3s;
}

.card-title{
    font-size: 20px;
    transition: 0.3s;
}

.project-card:hover .card-title{
    font-size: 22px;
    transition: 0.3s;
}

.project-card:hover p{
    font-size: 16.5px;
    transition: 0.3s;
}

.project-card p{
    font-family: "Poppins", sans-serif;
    font-size: 15px;
    font-weight: lighter;
    margin: 0;
    transition: 0.3s;
}

.card-images{
    width: 100%;
    height: 130px;
    /*border: 1px solid white;*/
    border-radius: 1.1rem 1.1rem 0 0;
    transition: 0.3s;
}

.project-image{
    width: 100%;
    height: 130px;
    border-radius: 1.1rem 1.1rem 0 0;
    transition: 0.3s;
}

.project-card:hover .card-images{
    height: 143px;
    transition: 0.3s;
}

.project-card:hover .project-image{
    height: 143px;
    transition: 0.3s;
}

.card-btn-container{
    display: inline-flex;
    justify-content: start;
    width: 100%;
    height: auto;
    padding: 0 0.25rem 0.25rem 0.25rem;
}

#card-btn{
    background: var(--darkerBlue);
    height: 100%;
    width: 40%;
    border: 1px solid var(--blue);
    border-radius: 1.1rem;
    padding: 0.25rem 0.5rem 0.25rem 0.5rem;
    font-size: 14px;
    transition: 0.3s;
}

.project-card:hover #card-btn{
    font-size: 17.6px;
    width: 100%;
    transition: 0.3s;
}

#card-btn:hover{

    background: var(--darkerBlue);
    border: 1px solid var(--white);
}

#card-btn:active {
    background: var(--blue);
}


@import "../index.css";