@import 'bootstrap/dist/css/bootstrap.min.css';

:root {
  --purple: #5e00ff;
  --lighterBlue: #005791;
  --blue: #0096ff;
  --darkGrayTrans: rgba(124, 124, 124, 0.1);
  --darkerBlue: #00030e;
  --darkerBlueTranslucent: rgba(0, 0, 0, 0);
  --translucentBlack: rgba(0, 0, 0, 0.66);
  --beige: #F3E8D7;
  --white: #ffffff;
  --grey: #c7c7c7;
  --brown: #533128;

  --navHeight: 58px;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Montserrat", "Poppins", "Open Sans", "Kode Mono", sans-serif;
}

a{
  font-family: "Montserrat", "Open Sans", sans-serif;
}

p, span {
  font-family: "Poppins", sans-serif;
}

p{
  margin: 0;
}

.coding-font{
  font-family: "Kode Mono", sans-serif;
}

.blur{
  backdrop-filter: blur(10px);
}

.main-img{
  width: 30px;
  height: 30px;
  border-radius: 50%;
  margin: 0 0.5rem 0 0.5rem;
}


body {
  margin: 0;
  background: var(--darkerBlue);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

::-webkit-scrollbar {
  height: 5px;
  width: 5px;
  backdrop-filter: blur(10px);
  -webkit-border-radius: 1ex;
}

::-webkit-scrollbar-thumb {
  background: var(--white);
  backdrop-filter: blur(10px);
  -webkit-border-radius: 1ex;
}

::-webkit-scrollbar-corner {
  background: #fff3;
}

.card-gradient {
  background-image: linear-gradient(to bottom right, var(--purple), var(--blue));
  padding: 4px;
  border-radius: 1.2rem;
  box-shadow: 0 0 20px black;
  margin: 1rem 1rem 1rem 1rem;
  height: fit-content;
  width: fit-content;
}

.app-wrapper {
  background-image: var(--darkerBlue);
  display: flex;
}
.background-texture{
  position: fixed;
  z-index: -100;
  top: 0;
  left: 0;
  width: 100%;
  height: 120%;
  background-image: url(resources/dark-background.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

/**/

.page{

  color: var(--white);
  display: block;
  width: 100%;
  max-width: 1300px;
  height: auto;
  padding: 0 50px 0 50px;
}

/*div{*/
/*  border: 1px solid*/
/*}*/

section{
  display: flex;
  justify-content: center;
  width: 100%;
  height: auto;
  /*border: 1px solid var(--purple);*/
  margin-bottom: 3rem;
  overflow: hidden;
}

section.main{
  margin-top: -1rem;
  height: 90vh;
}

section .page-title{
  display: flex;
  align-items: center;
  width: 100%;
  height: 100%;
  font-size: 5rem;
}

section .header{
  padding: 0 2rem 1rem 2rem;
  font-size: 2.5rem;
}

section .header.landing{
  font-size: 3rem;
  text-align: center;
}

.image-container{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}

.basic-container{
  background: var(--darkerBlue);
  height: auto;
  width: auto;
  padding: 2rem;
  border-radius: 1rem;
  box-shadow: 0 2px 30px black;
}

.blur-container{
  background: var(--darkGrayTrans);
  backdrop-filter: blur(10px);
  height: auto;
  width: 100%;
  padding: 2rem;
  border-radius: 1rem;
  box-shadow: 0 2px 30px black;
}

.blur-container.landing {
  text-align: center;
}

.div-inline-center{
  display: inline-flex;
  justify-content: center;
  align-items: center;
}

.span-div{
  width: 100%;
}

.viewport {
  display: flex;
  padding-top: var(--navHeight);
  width: 100%;
  min-height: 1000px;
  justify-content: center;
  transition: 400ms;
}

.web-title{
  display: inline-flex;
  justify-content: center;
  align-items: center;
  height: auto;
  font-size: 40px;
  font-weight: bold;
  padding: 0 1rem 0 1rem;
}

.title-link{
  font-family: "Kode Mono", sans-serif;
  color: var(--blue);
  text-decoration: none;
}

#top-nav{
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--white);
  height: 58px;
  width: 100%;
  z-index: 1000;
  background-color: var(--translucentBlack);
  backdrop-filter: blur(10px);
  box-shadow: 0 2px 20px black;
}

.nav-container{
  width: 100%;
  max-width: 1300px;
  padding: 0 50px 0 50px;
  display: inline-flex;
  justify-content: space-between;
  align-items: center;
}

.nav-list{
  display: inline-flex;
  width: auto;
}

.nav-link{
  margin-right: 1.2rem;
  display: inline-flex;
  align-items: center;
}

.btn-gradient{
  background-image: linear-gradient(to right, var(--purple), var(--lighterBlue));
  padding:2px;
  border-radius: 1.2rem;
  width: fit-content;
}

.nav-btn{
  background: var(--darkerBlue);
  width: 150px;
  height: 35px;
  border: none;
  border-radius: 1.1rem;
  box-shadow: inset 0 0 0 0 var(--purple), inset 0 0 0 0 var(--blue);
  transition: ease-out 0.3s;
  outline: none;
}

.nav-btn:active{
  color: var(--darkerBlue);
}

.my-links{
  display: inline-flex;
}

.social-link-btn{
  color: var(--white);
  text-decoration: none;
}

.tool-bar-toggle{
  color: var(--white);
  margin:0 1rem 0 0;
  padding: 0;
  height: auto;
  background: none;
  outline: none;
  appearance: none;
  border: none;
}

.tool-bar-toggle.active{
  background: none;
}

.tool-bar-toggle:hover{
  background: none;
}

.toolbar{
  color: var(--white);
  position: fixed;
  z-index: 500;
  top: -100%;
  left:0;
  backdrop-filter: blur(10px);
  background: var(--translucentBlack);
  width: 100%;
  height: 100%;
  box-shadow: 2px 0 8px black;
  transition: ease-in 350ms;
}

.toolbar.active{
  top: var(--navHeight);
  transition: ease-out 350ms;
}

.tool-bar-container{
  padding: 1rem 0 1rem 0;
}

.tool-bar-list{
  display: block;
  list-style: none;
}

.toolbar li{
  display: inline-flex;
  align-items: center;
  width: 100%;
  min-height: 80px;
}

.nav-text{
  background: none;
  border: none;
  outline: none;
  text-decoration: none;
  color: var(--white);
  margin: 0 0 0 0.5rem;
}

.nav-header{
  font-size: 1.5rem;
}

.tool-bar-header{
  display: inline-flex;
  align-items: center;
}

.to-top-btn{
  background: none;
  color: var(--white);
  position: fixed;
  z-index: 100;
  bottom:2rem;
  right:2rem;
  left:auto;
  top:auto;
  margin:0;
  padding:0;
  height: 60px;
  width: 60px;
  border: 2px solid white;
  border-radius:30px;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: inset 0 0 0 0 var(--purple), inset 0 0 0 0 var(--blue);
  transition: ease-out 0.3s;
  outline: none;
}

.to-top-btn:active{
  color: var(--darkerBlue);
  border: 2px solid var(--darkerBlue);
}

@media (hover: hover) {
  .to-top-btn:hover{
    background: var(--darkerBlue);
    box-shadow: inset 30px 0 40px 0 var(--purple), inset 60px 0 30px 0 var(--blue);
  }

  .nav-btn:hover{
    background: var(--darkerBlue);
    box-shadow: inset 55px 0 40px 0 var(--purple), inset 150px 0 30px 0 var(--blue);
  }
}

.to-top-btn.hidden {
  right: -4rem;
  transition: ease-out 0.3s;
}

@media (min-width: 641px) and (max-width: 835px) {
  .nav-container{
    padding: 0 5% 0 5%;
  }
}

@media (max-width: 640px){
  .nav-container{
    padding: 0 5% 0 0.8rem;
  }
}

@media (min-width: 584px) and (max-width: 835px) {

  section .page-title{
    height: auto;
    font-size: 3rem;
  }

  section .header{
    padding: 0 2rem 1rem 2rem;
    font-size: 2rem;
  }

  section .header.landing{
    font-size: 3rem;
  }

  .page{
    padding: 0 5% 0 5%;
  }

  section .header.landing{
    font-size: 2rem;
  }
}

@media (min-width: 301px) and (max-width: 583px) {

  .page{
    padding: 0 5% 0 5%;
  }

  section .page-title{
    height: auto;
    font-size: 2rem;
  }

  section .header.landing{
    font-size: 1.5rem;
  }

  section .header{
    font-size: 1.5rem;
  }
}

@media (max-width: 300px) {
  .page{
    padding: 0 5% 0 5%;
  }

  section .page-title{
    height: auto;
    font-size: 2rem;
  }

  section .header.landing{
    font-size: 1.5rem;
  }

  section .header{
    font-size: 1.5rem;
  }
}