:root {
  --purple: #5e00ff;
  --blue: #0096ff;
  --darkGrayTrans: rgba(4, 7, 7, 0.37);
  --darkerBlue: #00030e;
  --darkerBlueTranslucent: rgba(0, 0, 0, 0);
  --beige: #F3E8D7;
  --white: #ffffff;
  --grey: #c7c7c7;
  --brown: #533128;

  --navHeight: 58px;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Montserrat", "Poppins", "Open Sans", sans-serif;
}

a{
  font-family: "Montserrat", "Open Sans", sans-serif;
}

p, span {
  font-family: "Poppins", sans-serif;
}

.coding-font{
  font-family: "Kode Mono", sans-serif;
}

.blur{
  backdrop-filter: blur(10px);
}

.main-img{
  width: 30px;
  height: 30px;
  border-radius: 50%;
  margin: 0 0.5rem 0 0.5rem;
}


body {
  margin: 0;
  background: var(--darkerBlue);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.app-wrapper {
  background-image: var(--darkerBlue);
  display: flex;
}
.background-texture{
  position: fixed;
  z-index: -100;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url(images/dark-background.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

.page{

  color: var(--white);
  display: block;
  width: 100%;
  max-width: 1300px;
  height: auto;
  padding: 0 50px 0 50px;
}

/*div{*/
/*  border: 1px solid*/
/*}*/

section{
  display: flex;
  justify-content: center;
  width: 100%;
  height: auto;
  /*border: 1px solid var(--purple);*/
  margin-bottom: 3rem;
}

section.main{
  height: 90vh;
}

section .header{
  text-align: center;
  font-size: 3rem;
  padding-bottom:1rem;
}

.blur-container{

  backdrop-filter: blur(10px);
  height: auto;
  width: auto;
  padding: 2rem;
  border-radius: 1rem;
  text-align: center;
  box-shadow: 0 2px 30px black;
}

.div-inline-center{
  display: inline-flex;
  justify-content: center;
  align-items: center;
}

.viewport {
  display: flex;
  padding-top: var(--navHeight);
  width: 100%;
  min-height: 1000px;
  justify-content: center;
  transition: 400ms;
}

.viewport.compressed{
  padding-left: 350px;

}

.web-title{
  display: inline-flex;
  justify-content: center;
  align-items: center;
  height: auto;
  font-size: 40px;
  font-weight: bold;
  padding: 0 1rem 0 1rem;
}

.title-link{
  font-family: "Kode Mono", sans-serif;
  color: var(--blue);
  text-decoration: none;
}

#top-nav{
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--white);
  height: 58px;
  width: 100%;
  z-index: 1000;
  backdrop-filter: blur(10px);
  box-shadow: 0 2px 20px var(--darkerBlue);
}

.nav-container{
  width: 80%;
  max-width: 1200px;
  display: inline-flex;
  justify-content: space-between;
  align-items: center;
}

.nav-list{
  display: inline-flex;
  width: auto;
}

.nav-link{
  margin-right: 1.2rem;
  display: inline-flex;
  align-items: center;
}

.nav-btn-gradient{
  background-image: linear-gradient(to right, var(--purple), var(--blue));
  padding:2px;
  border-radius: 1.2rem;
}

.nav-btn{
  background: var(--darkerBlue);
  width: 150px;
  height: 35px;
  border: none;
  border-radius: 1.1rem;
  box-shadow: inset 0 0 0 0 var(--purple), inset 0 0 0 0 var(--blue);
  transition: ease-out 0.3s;
  outline: none;
}

.nav-btn:hover{
  background: var(--darkerBlue);
  box-shadow: inset 65px 0 50px 0 var(--purple), inset 150px 0 50px 0 var(--blue);
}

.my-links{
  display: inline-flex;
}

.social-link-btn{
  color: var(--white);
  text-decoration: none;
}

.tool-bar-toggle{
  color: var(--white);
  margin:0 1rem 0 0;
  padding: 0;
  height: auto;
  background: none;
  outline: none;
  appearance: none;
  border: none;
}

.tool-bar-toggle:hover{
  appearance:none;
  background: none;
}

.toolbar{
  color: var(--white);
  position: fixed;
  z-index: 500;
  top: var(--navHeight);
  left:-100%;
  background: var(--darkerBlue);
  width: 300px;
  height: 100%;
  box-shadow: 2px 0px 8px black;
  transition: 850ms;
}

.toolbar.active{
  left: 0;
  transition: 350ms;
}

.tool-bar-container{
  padding: 1rem 0 1rem 0;
}

.tool-bar-list{
  display: block;
  list-style: none;
}

.toolbar li{
  display: inline-flex;
  align-items: center;
  width: 100%;
  min-height: 40px;
}

.nav-text{
  text-decoration: none;
  color: var(--white);

  margin: 0 0 0 0.5rem;
}

.nav-header{
  font-size: 20px;
}

.tool-bar-header{
  display: inline-flex;
  align-items: center;
}




@media (max-width: 700px) {
  .toolbar{
    width: 100%;
    left: 0;
    top:-100%;
  }

  .toolbar.active{
    top: var(--navHeight);
    transition: 350ms;
  }
}

@import 'bootstrap/dist/css/bootstrap.min.css';